<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <title>Acceuil Zenitude</title>
</head>

<body>
    <h1>HELLLO OOOOO</h1>
    <% include ../partials/script %>
</body>

</html>